<!DOCTYPE html>
<html>
<head>
  <title>ProcessClick</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-inverse navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
        <%= render 'layouts/navigation' %>
      </div>
    </nav>
  </header>
  <div id="main" role="main">
    <%= render 'layouts/messages' %>
    <div class='container'>
      <%= yield %>
    </div>
  </div> <!--! end of #main -->
  <footer>
  </footer>
  <div id="body-scripts">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<%= javascript_include_tag("jquery-backup").gsub('/','\\/').html_safe %>')</script>
    <%= javascript_include_tag "application" %>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
  </div>
</body>
</html>
